body{
    display: flex;
    justify-content: center;
    background-color: hsl(191, 18%, 77%);
    caret-color: transparent;
}


.calculator{
    background-color: hsl(0, 0%, 40%);
    flex-direction: column;
    width: 200px;
    border-radius: 5px ;
    margin-top: 50px;
}

.display{
    min-height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    word-break:break-all;
}

.buttons{
    display: flex;
    flex-direction: column;
}

.buttons-bottom{
    display: flex;
}

.operators{
    display: flex;
}

.operators-right{
    display: flex;
    flex-wrap: wrap;
}

.numbers{
    display: flex;
    flex-wrap: wrap;
}

button{
    flex: 1;
    min-width: 50px;
    min-height: 50px;
}